<!-- Versión 1 -->
<!-- <StackLayout>
    <Label class="textoinit" text="¡Escribe tus desafíos!"></Label>
    <TextField hint="Título del desafío" [(ngModel)]="challengeDescription"></TextField>
    <Button class="botonChallenge" (tap)="onSetChallenge()" text="Establecer desafío"></Button>
    <Label class="title" [text]="currentChallenge"></Label>
</StackLayout> -->

<!-- Versión 2 -->
<!-- <GridLayout rows="auto,auto,*" columns="2*,*">
    <Label class="textoinit" text="¡Escribe tus desafíos!" row="0" col="0" colSpan="2"></Label>
    <TextField hint="Título del desafío" [(ngModel)]="challengeDescription" row="1" col="0"></TextField>
    <Button class="botonChallenge" (tap)="onSetChallenge()" text="Establecer desafío" row="1" col="1"></Button>
    <Label class="title" [text]="currentChallenge" row="2" col="0" colSpan="2"></Label>
</GridLayout> -->

<!-- Versión 3 ScrollView -->
<!-- <ScrollView>
    <StackLayout>
        <Label class="title" [text]="challenge"
        horizontalAlignment="center" *ngFor="let challenge of challenges"></Label>
    </StackLayout>
</ScrollView> -->

<!-- Versión 4 ListView -->
<!-- <ListView [items]="challenges" (itemTap)="onItemTap($event)">
    <ng-template let-challenge="item" let-i="index">
        <GridLayout rows="40,auto" columns="50,*">
            <Label [text]="i" row="0" col="0" rowSpan="2"></Label>
            <Label [text]="challenge" row="0" col="1"></Label>
            <Label text="ItemContent row 2" row="1" col="1"></Label>
        </GridLayout>
    </ng-template>
</ListView> -->

<!-- Versión 5 Depuración -->
<StackLayout>
    <Label class="title" [text]="challengeTitle" horizontalAlignment="center"></Label>
</StackLayout>
