/* Add mobile styles for the component here.  */
AbsoluteLayout{
    border-color: chartreuse;
    border-width: 5;
    height: 100%;
}

Label{
    width: 60;
    height: 60;
    color: white;
}

#i1{
    background: darkorange;
}

#i2{
    background: palegreen
}

#i3{
    background: darkcyan;
}
