/* Add mobile styles for the component here.  */
FlexboxLayout{
    border-color: chartreuse;
    border-width: 5;
    padding: 10;
    height: 200;
}

Label{
    width: 60;
    height: 60;
}

#i1{
    background: red;
}

#i2{
    background: palevioletred
}

#i3{
    background: darkkhaki;
}
